html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

code {
  background-color: #eee;
  padding: 3px;
  white-space: pre-line;
  line-height: 1.5;
}
